<div class="panel panel-info">
  <div class="container-fluid panel-heading">
    <%= link_to stats_swarm_path do %>
      <div class="col-xs-6"><h4 class="list-group-item-heading heading">Goaltending</h4></div>
      <div class="col-xs-6">
        <h5 class="list-group-item-heading pull-right more">More >></h5>
      </div>
      <% end %>
  </div>
  <div class="panel-body leaders">
    <% @swarm_gk.limit(5).each_with_index do |player, i| %>
      <div class="table-responsive">
        <span><strong><%= i += 1 %>. </strong></span>
        <span><strong><%= player.name %></strong></span>
        <span class="pull-right"><strong>0.<%= player.svs %></strong></span>
      </div>
    <% end %>
  </div>
</div>
