<div class="panel panel-info">
  <div class="container-fluid panel-heading">
    <h4 class="list-group-item-heading heading">Assist Leaders</h4>
  </div>
  <div class="panel-body leaders">
    <% @home_assists.limit(3).each_with_index do |home, i| %>
      <div class="table-responsive">
        <span><strong><%= i += 1 %>. </strong></span>
        <span><strong><%= home.name %></strong></span>
        <span class="pull-right"><strong><%= home.assists %></strong></span>
      </div>
    <% end %>
  </div>
</div>
