<div class="table-responsive">
  <table class="table table-condensed table-bordered">
    <thead>
      <tr>
        <th class="text-center">#</th>
        <th>Name</th>
        <th class="text-center">Pos</th>
      </tr>
    </thead>
    <tbody>
      <% @home_lineup.each do |home| %>
        <tr>
          <td class="text-center"><%= home.number %></td>
          <td><%= home.name %></td>
          <td class="text-center"><%= home.posAbr %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
