<div class="container-fluid">
  <%= render 'players/partials/teams' %>
  <div class="row">
    <h4>Admirals Goaltenders</h4>
    <%= render 'players/partials/admirals/gk' %>
  </div>
  <div class="row">
    <h4>Admirals Skaters</h4>
    <%= render 'players/partials/admirals/skaters' %>
  </div>
</div>
