<div class="container-fluid">
  <%= render 'players/partials/teams' %>
  <h4>Thunder Goal Tenders</h4>
  <%= render 'players/partials/reddevils/gk' %>
  <h4>Thunder Skaters</h4>
  <%= render 'players/partials/reddevils/skaters' %>
</div>
