<div class="container-fluid">
  <%= render 'players/partials/teams' %>
  <div class="row">
    <h4>Red Devils Goaltenders</h4>
    <%= render 'players/partials/reddevils/gk' %>
  </div>
  <div class="row">
    <h4>Red Devils Skaters</h4>
    <%= render 'players/partials/reddevils/skaters' %>
  </div>
</div>
