<div class="container-fluid">
  <%= render 'players/partials/teams' %>
  <h4>Red Devils Goal Tenders</h4>
  <%= render 'players/partials/reddevils/gk' %>
  <h4>Red Devils Skaters</h4>
  <%= render 'players/partials/reddevils/skaters' %>
</div>
