<div class="container-fluid">
  <%= render 'players/partials/teams' %>
  <h4>Stampede Goal Tenders</h4>
  <%= render 'players/partials/stampede/gk' %>
  <h4>Stampede Skaters</h4>
  <%= render 'players/partials/stampede/skaters' %>
</div>
