<div class="container-fluid">
  <%= render 'players/partials/teams' %>
  <div class="row">
    <h4>Swarm Goaltenders</h4>
    <%= render 'players/partials/swarm/gk' %>
  </div>
  <div class="row">
    <h4>Swarm Skaters</h4>
    <%= render 'players/partials/swarm/skaters' %>
  </div>
</div>
