<div class="container-fluid">
  <%= render 'players/partials/teams' %>
  <h4>Swarm Goal Tenders</h4>
  <%= render 'players/partials/swarm/gk' %>
  <h4>Swarm Skaters</h4>
  <%= render 'players/partials/swarm/skaters' %>
</div>
