// Place all the styles related to the stats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.headings {
  padding-bottom: 15px;
}

.leaders {
  font-size: 16px;
}

.heading {
  padding-top: 5px;
}

.more {
  padding-top: 7px;
}
